body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #efefef;
}

.wrap {
  text-align: center;
}

.wrap h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
}

.wrap form {
  width: 400px;
  padding: 35px 20px 50px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 2px;
  border: none;
}

.wrap form input {
  display: block;
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
}

.wrap form input[type=button] {
  cursor: pointer;
}

.wrap form input[type=email]:focus {
  background: #ffd78c;
}

.wrap form input[type=submit] {
  cursor: pointer;
}
