body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.complete {
  width: 150px;
  padding: 7px;
  font-size: 20px;
  color: #fff;
  background: #eee;
  outline: none;
  border: 1px solid #333;
  border-radius: 5px;
  transition: .35s;
  border-color: blue;
}

.complete.complete {
  background: royalblue;
}

.complete.loading {
  background: #41e14e;
  color: #333;
}

.complete.error {
  background: #ff9249;
}

.loading {
  width: 150px;
  padding: 7px;
  font-size: 20px;
  color: #fff;
  background: #eee;
  outline: none;
  border: 1px solid #333;
  border-radius: 5px;
  transition: .35s;
  border-width: 2px;
}

.loading.complete {
  background: royalblue;
}

.loading.loading {
  background: #41e14e;
  color: #333;
}

.loading.error {
  background: #ff9249;
}

.error {
  width: 150px;
  padding: 7px;
  font-size: 20px;
  color: #fff;
  background: #eee;
  outline: none;
  border: 1px solid #333;
  border-radius: 5px;
  transition: .35s;
}

.error.complete {
  background: royalblue;
}

.error.loading {
  background: #41e14e;
  color: #333;
}

.error.error {
  background: #ff9249;
}
